body {
 background-image: url("https://imgs.search.brave.com/hu8lVP3ljpC0jumve0aLhGHKC8A9O-By26JSmo-S4pU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzUwLzEyLzYw/LzM2MF9GXzI1MDEy/NjAxMl83SDZsaHk1/MjU0cUZjNFdUVlVq/cVZiaXprV0R0Tzg2/TC5qcGc");
 background-repeat: no-repeat;
 background-size: cover;
}